$white: #ffffff;
$black: #000000;
$btnBlack: #151615;
$btnWhite: #f4f3f3;
$primary: #ae252b;
$secondary: #3f3f3f;

@mixin main-font {
    font-family: "Poppins", sans-serif;
}

@mixin hero_btn($col1, $col2, $pad1, $pad2) {
    display: inline-block;
    padding: $pad1 $pad2;
    background-color: $col1;
    border: 1px solid $col1;
    color: $col2;

    &:hover {
        background-color: transparent;
        color: $col1;
    }
}

@mixin upperBold {
    text-transform: uppercase;
    font-weight: bold;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
}

@mixin flexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    @include main-font;
    color: #040000;
    background-color: #ffffff;
}

.layout_padding {
    padding: 90px 0;
}

.layout_padding2 {
    padding: 45px 0;
}

.layout_padding2-top {
    padding-top: 45px;
}

.layout_padding2-bottom {
    padding-bottom: 45px;
}

.layout_padding-top {
    padding-top: 90px;
}

.layout_padding-bottom {
    padding-bottom: 90px;
}

.heading_container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 45px;

    h2 {
        font-weight: bold;
        display: flex;
        position: relative;
        padding-bottom: 10px;
        margin: 0;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 60px;
            height: 7px;
            border-radius: 10px;
            background-color: $primary;
            transform: translateX(-50%);
        }
    }
}

/*header section*/

.hero_area {
    height: 100vh;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../images/slider-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
}

.sub_page {
    .hero_area {
        height: auto;
    }

    .slider_section {
        background: none;
    }

    &.about_page {
        .slider_section {
            background-color: #f8f8f8;
        }
    }

}


.header_section {
    background-color: $btnWhite;

    .nav_container {
        margin: 0 auto;
    }
}

.custom_nav-container {
    .contact_nav {
        width: 95%;
        margin-right: auto;

        .nav-item {
            flex: 1;

            .nav-link {
                padding: 0px 25px;
                color: $black;
                text-align: center;

                img {
                    width: 22px;
                    margin-right: 15px;
                }
            }
        }
    }
}

.custom_nav2 {
    padding: 0 45px;

    .custom_nav-container {
        padding: 5px 0;
        background-color: $primary;
        clip-path: polygon(0 0, 100% 0%, 95% 100%, 5% 100%);
    }

    .navbar-expand-lg .navbar-nav .nav-item {
        .nav-link {
            padding: 10px 30px;
            color: $white;
            text-align: center;
            position: relative;


        }

        &.active,
        &:hover {
            .nav-link {
                // color: $white;
                text-decoration: underline;
            }
        }
    }

    #navbarSupportedContent {
        justify-content: center;
    }

}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a:hover,
a:focus {
    color: initial;
}

.btn,
.btn:focus {
    outline: none !important;
    box-shadow: none;
}

.custom_nav-container .nav_search-btn {
    background-image: url(../images/search-icon-black.png);
    background-size: 18px;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    margin: 0 40px 0 15px;
    background-position: center;

    &:hover {
        background-image: url(../images/search-icon.png);
    }
}

.navbar-brand {
    display: flex;
    align-items: center;

    img {
        width: 180px;
        margin-right: 71px;
    }
}

.custom_nav-container {
    z-index: 99999;
    padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../images/menu.png);
    background-size: 42px;
}

.custom_nav-container .nav_search-btn {
    margin: auto;
}

/*end header section*/

/* slider section */

.slider_section {
    height: calc(100% - 80px);
    background-image: url(../images/slider-bg.jpg);
    background-size: cover;

    .slider_container {
        height: calc(100% - 60px);
        display: flex;
        align-items: center;
    }

    #carouselExampleIndicators {
        width: 100%;
    }

    .detail-box {
        h2 {
            color: $primary;
        }

        h1 {
            font-size: 4rem;
            font-weight: bold;
            color: $btnWhite;
            text-transform: uppercase;

        }

        p {
            color: $white;
        }

        .btn-box {
            display: flex;
            flex-wrap: wrap;
            margin-top: 35px;
            margin: 35px -5px 0 -5px;

            a {
                width: 165px;
                text-align: center;
                margin: 5px;
            }

            .btn-1 {
                @include hero_btn($primary, $white, 7px, 0);
            }

            .btn-2 {
                @include hero_btn($btnWhite, #020000, 7px, 0);
            }
        }
    }

    .carousel-indicators {
        bottom: 50%;
        margin: 0;
        transform: translateY(50%);
        align-items: center;
        justify-content: flex-start;
        left: 25px;

        li {
            width: 14px;
            height: 14px;
            opacity: 1;
            background-color: transparent;
            border: 2px solid $primary;
            border-radius: 100%;

            &.active {
                width: 18px;
                height: 18px;
                border: 3px solid $primary;
            }
        }

    }

    .number_box {
        width: 50px;
        position: absolute;
        left: 25px;
        top: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $primary;
        transform: translateY(-50%);

        hr {
            border: none;
            width: 1px;
            height: 200px;
            background-color: $primary;
            margin: 2rem 0;
        }


    }

}

/* end slider section */

// about section
.about_section {
    background-color: #f8f8f8;


    .box {
        @include flexColumnCenter();
        text-align: center;
        width: 85%;
        margin: 0 auto;

        .img-box {
            img {
                max-width: 100%;
            }
        }

        .detail-box {
            margin-top: 25px;

            a {
                @include hero_btn($btnBlack, $white, 10px, 40px);
                margin-top: 15px;
            }
        }



    }
}

// end about section

// service section

.service_section {
    .service_container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .box {
            position: relative;
            color: $white;
            margin: 1%;
            flex-basis: 48%;

            h6 {
                font-weight: bold;
                text-transform: uppercase;
            }

            img {
                width: 100%;
            }

            .visible_heading {
                position: absolute;
                bottom: 15px;
                left: 15px;
            }

            .link_box {
                display: none;
                flex-direction: column;
                align-items: center;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 45px;
                    height: 45px;
                    border-radius: 100%;
                    background-color: $primary;

                    img {
                        width: 20px;
                    }

                    &:hover {
                        opacity: .9;
                    }
                }

                h6 {
                    margin-top: 15px;
                }

            }

            &::before {
                display: none;
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-color: rgba($color: $secondary, $alpha: .9);
            }

            &:hover {
                .link_box {
                    display: flex;
                }

                &::before {
                    display: block;
                }

                .visible_heading {
                    display: none;
                }
            }
        }
    }
}

// end service section

// us section

.us_section {
    background-color: $secondary;
    color: $white;

    .us_container {
        display: flex;

        .box {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 25px 10px 0 10px;

            .img-box {
                height: 180px;
                min-width: 250px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(255, 255, 255, 0.4);
                border-radius: 8px;

                img {
                    max-width: 100%;
                }
            }

            .detail-box {
                h5 {
                    font-weight: bold;
                }
            }
        }
    }
}


// end us section

// client section

.client_section {
    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 600px;
        margin: 0 auto;
        margin-bottom: 45px;

        .img-box {
            width: 200px;

            img {
                width: 100%;
            }
        }

        .detail-box {
            margin-top: 25px;

            h5 {
                font-weight: bold;
                position: relative;
                padding-bottom: 5px;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 40px;
                    height: 4px;
                    border-radius: 10px;
                    background-color: $primary;
                    transform: translateX(-50%);
                }
            }

        }
    }

    .carousel-indicators {
        margin: 0;
        justify-content: center;
        bottom: 0;

        li {
            opacity: 1;
            background-color: $black;
            width: 40px;
            height: 10px;
            border-radius: 10px;
            background-clip: unset;
            border: none;

            &.active {
                background-color: $primary;
            }
        }

    }

}

// end client section

// result section

.result_section {
    color: $white;
    background-color: #3c0e78;

    .row {
        align-items: center;
    }

    .img-box {
        img {
            width: 100%;
        }
    }

    .detail-box {
        padding-left: 15px;

        h2 {
            font-weight: bold;
            font-size: 2.5rem;
            position: relative;
            padding-top: 10px;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 40px;
                height: 7px;
                border-radius: 10px;
                background-color: $primary;
            }
        }

        p {
            margin-top: 15px;
        }

        a {
            @include hero_btn($primary, $white, 10px, 45px);
            margin-top: 25px;
        }
    }
}


// end result section


/* contact section */

.contact_section {
    position: relative;

    .bg-img {
        position: absolute;
        width: 100px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        img {
            width: 100%;
        }
    }

    .heading_container {
        justify-content: center;

        h2 {
            text-transform: unset;
        }
    }
}

.contact_section input::placeholder {
    color: #000;
}

.contact_section input {
    border: none;
    outline: none;
    border-bottom: 0.8px solid #ac9784;
    width: 90%;
    margin: 10px 0;

    &::placeholder {
        color: #ac9784;
    }
}

.contact_form-container {
    padding: 15px 0 15px 0;
}

.contact_form-container button {
    border: none;
    background-color: #fd9e2e;
    color: #fff;
    padding: 14px 55px;
    font-size: 14px;
    text-transform: uppercase;
}

.map_container {
    height: 350px;

    .map-responsive {
        height: 100%;
    }
}

/* contact section */

/* info section */
.info_section {
    background-color: #161616;
    color: $white;

    h6 {
        font-weight: bold;
    }

    .info_form {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 45px;

        h4 {
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            align-items: center;

            input {
                background-color: $white;
                border: none;
                width: calc(100% - 139px);
                outline: none;
                color: $black;
                height: 42.4px;
                padding-left: 15px;

                ::placeholder {
                    color: $white;
                    opacity: 0.2;
                }
            }

            button {
                background-color: $primary;
                @include hero_btn($primary, $black, 9px, 30px);
                font-size: 15px;
                text-transform: uppercase;
            }
        }

    }


    h6 {
        margin-bottom: 12px;
        font-size: 18px;
    }

    p {
        color: #cbc9c9;
    }


    ul {
        padding: 0;

        li {
            list-style-type: none;
            margin: 3px 0;

            a {
                color: #cbc9c9;

                &:hover {
                    color: $white;
                }
            }
        }
    }

    .info_link-box {
        a {
            display: flex;
            align-items: center;
            margin: 15px 0;


            &:hover {
                color: $white;
            }

            img {
                margin-right: 15px;
            }

            span {
                color: #cbc9c9;
            }

            &:hover {
                span {
                    color: $white;
                }
            }
        }
    }

    .info_social {
        display: flex;
        margin: 45px auto 15px auto;

        img {
            width: 35px;
            margin-right: 8px;
        }
    }
}

/* end info section */

/* footer section*/

.footer_section {
    background-color: #161616;
    padding: 20px 0;
}

.footer_section p {
    margin: 0;
    text-align: center;
    color: $white;
}

.footer_section a {
    color: $white;
}

/* end footer section*/