body {
  font-family: "Poppins", sans-serif;
  color: #040000;
  background-color: #ffffff;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 45px;
}
.heading_container h2 {
  font-weight: bold;
  display: flex;
  position: relative;
  padding-bottom: 10px;
  margin: 0;
}
.heading_container h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60px;
  height: 7px;
  border-radius: 10px;
  background-color: #ae252b;
  transform: translateX(-50%);
}

/*header section*/
.hero_area {
  height: 100vh;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../images/slider-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;
}

.sub_page .hero_area {
  height: auto;
}
.sub_page .slider_section {
  background: none;
}
.sub_page.about_page .slider_section {
  background-color: #f8f8f8;
}

.header_section {
  background-color: #f4f3f3;
}
.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container .contact_nav {
  width: 95%;
  margin-right: auto;
}
.custom_nav-container .contact_nav .nav-item {
  flex: 1;
}
.custom_nav-container .contact_nav .nav-item .nav-link {
  padding: 0px 25px;
  color: #000000;
  text-align: center;
}
.custom_nav-container .contact_nav .nav-item .nav-link img {
  width: 22px;
  margin-right: 15px;
}

.custom_nav2 {
  padding: 0 45px;
}
.custom_nav2 .custom_nav-container {
  padding: 5px 0;
  background-color: #ae252b;
  clip-path: polygon(0 0, 100% 0%, 95% 100%, 5% 100%);
}
.custom_nav2 .navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding: 10px 30px;
  color: #ffffff;
  text-align: center;
  position: relative;
}
.custom_nav2 .navbar-expand-lg .navbar-nav .nav-item.active .nav-link, .custom_nav2 .navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
  text-decoration: underline;
}
.custom_nav2 #navbarSupportedContent {
  justify-content: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon-black.png);
  background-size: 18px;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  margin: 0 40px 0 15px;
  background-position: center;
}
.custom_nav-container .nav_search-btn:hover {
  background-image: url(../images/search-icon.png);
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand img {
  width: 180px;
  margin-right: 71px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 42px;
}

.custom_nav-container .nav_search-btn {
  margin: auto;
}

/*end header section*/
/* slider section */
.slider_section {
  height: calc(100% - 80px);
  background-image: url(../images/slider-bg.jpg);
  background-size: cover;
}
.slider_section .slider_container {
  height: calc(100% - 60px);
  display: flex;
  align-items: center;
}
.slider_section #carouselExampleIndicators {
  width: 100%;
}
.slider_section .detail-box h2 {
  color: #ae252b;
}
.slider_section .detail-box h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #f4f3f3;
  text-transform: uppercase;
}
.slider_section .detail-box p {
  color: #ffffff;
}
.slider_section .detail-box .btn-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
  margin: 35px -5px 0 -5px;
}
.slider_section .detail-box .btn-box a {
  width: 165px;
  text-align: center;
  margin: 5px;
}
.slider_section .detail-box .btn-box .btn-1 {
  display: inline-block;
  padding: 7px 0;
  background-color: #ae252b;
  border: 1px solid #ae252b;
  color: #ffffff;
}
.slider_section .detail-box .btn-box .btn-1:hover {
  background-color: transparent;
  color: #ae252b;
}
.slider_section .detail-box .btn-box .btn-2 {
  display: inline-block;
  padding: 7px 0;
  background-color: #f4f3f3;
  border: 1px solid #f4f3f3;
  color: #020000;
}
.slider_section .detail-box .btn-box .btn-2:hover {
  background-color: transparent;
  color: #f4f3f3;
}
.slider_section .carousel-indicators {
  bottom: 50%;
  margin: 0;
  transform: translateY(50%);
  align-items: center;
  justify-content: flex-start;
  left: 25px;
}
.slider_section .carousel-indicators li {
  width: 14px;
  height: 14px;
  opacity: 1;
  background-color: transparent;
  border: 2px solid #ae252b;
  border-radius: 100%;
}
.slider_section .carousel-indicators li.active {
  width: 18px;
  height: 18px;
  border: 3px solid #ae252b;
}
.slider_section .number_box {
  width: 50px;
  position: absolute;
  left: 25px;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ae252b;
  transform: translateY(-50%);
}
.slider_section .number_box hr {
  border: none;
  width: 1px;
  height: 200px;
  background-color: #ae252b;
  margin: 2rem 0;
}

/* end slider section */
.about_section {
  background-color: #f8f8f8;
}
.about_section .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 85%;
  margin: 0 auto;
}
.about_section .box .img-box img {
  max-width: 100%;
}
.about_section .box .detail-box {
  margin-top: 25px;
}
.about_section .box .detail-box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #151615;
  border: 1px solid #151615;
  color: #ffffff;
  margin-top: 15px;
}
.about_section .box .detail-box a:hover {
  background-color: transparent;
  color: #151615;
}

.service_section .service_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.service_section .service_container .box {
  position: relative;
  color: #ffffff;
  margin: 1%;
  flex-basis: 48%;
}
.service_section .service_container .box h6 {
  font-weight: bold;
  text-transform: uppercase;
}
.service_section .service_container .box img {
  width: 100%;
}
.service_section .service_container .box .visible_heading {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.service_section .service_container .box .link_box {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.service_section .service_container .box .link_box a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #ae252b;
}
.service_section .service_container .box .link_box a img {
  width: 20px;
}
.service_section .service_container .box .link_box a:hover {
  opacity: 0.9;
}
.service_section .service_container .box .link_box h6 {
  margin-top: 15px;
}
.service_section .service_container .box::before {
  display: none;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(63, 63, 63, 0.9);
}
.service_section .service_container .box:hover .link_box {
  display: flex;
}
.service_section .service_container .box:hover::before {
  display: block;
}
.service_section .service_container .box:hover .visible_heading {
  display: none;
}

.us_section {
  background-color: #3f3f3f;
  color: #ffffff;
}
.us_section .us_container {
  display: flex;
}
.us_section .us_container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 25px 10px 0 10px;
}
.us_section .us_container .box .img-box {
  height: 180px;
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}
.us_section .us_container .box .img-box img {
  max-width: 100%;
}
.us_section .us_container .box .detail-box h5 {
  font-weight: bold;
}

.client_section .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 45px;
}
.client_section .box .img-box {
  width: 200px;
}
.client_section .box .img-box img {
  width: 100%;
}
.client_section .box .detail-box {
  margin-top: 25px;
}
.client_section .box .detail-box h5 {
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
}
.client_section .box .detail-box h5::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 4px;
  border-radius: 10px;
  background-color: #ae252b;
  transform: translateX(-50%);
}
.client_section .carousel-indicators {
  margin: 0;
  justify-content: center;
  bottom: 0;
}
.client_section .carousel-indicators li {
  opacity: 1;
  background-color: #000000;
  width: 40px;
  height: 10px;
  border-radius: 10px;
  background-clip: unset;
  border: none;
}
.client_section .carousel-indicators li.active {
  background-color: #ae252b;
}

.result_section {
  color: #ffffff;
  background-color: #3c0e78;
}
.result_section .row {
  align-items: center;
}
.result_section .img-box img {
  width: 100%;
}
.result_section .detail-box {
  padding-left: 15px;
}
.result_section .detail-box h2 {
  font-weight: bold;
  font-size: 2.5rem;
  position: relative;
  padding-top: 10px;
}
.result_section .detail-box h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 7px;
  border-radius: 10px;
  background-color: #ae252b;
}
.result_section .detail-box p {
  margin-top: 15px;
}
.result_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #ae252b;
  border: 1px solid #ae252b;
  color: #ffffff;
  margin-top: 25px;
}
.result_section .detail-box a:hover {
  background-color: transparent;
  color: #ae252b;
}

/* contact section */
.contact_section {
  position: relative;
}
.contact_section .bg-img {
  position: absolute;
  width: 100px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.contact_section .bg-img img {
  width: 100%;
}
.contact_section .heading_container {
  justify-content: center;
}
.contact_section .heading_container h2 {
  text-transform: unset;
}

.contact_section input::placeholder {
  color: #000;
}

.contact_section input {
  border: none;
  outline: none;
  border-bottom: 0.8px solid #ac9784;
  width: 90%;
  margin: 10px 0;
}
.contact_section input::placeholder {
  color: #ac9784;
}

.contact_form-container {
  padding: 15px 0 15px 0;
}

.contact_form-container button {
  border: none;
  background-color: #fd9e2e;
  color: #fff;
  padding: 14px 55px;
  font-size: 14px;
  text-transform: uppercase;
}

.map_container {
  height: 350px;
}
.map_container .map-responsive {
  height: 100%;
}

/* contact section */
/* info section */
.info_section {
  background-color: #161616;
  color: #ffffff;
}
.info_section h6 {
  font-weight: bold;
}
.info_section .info_form {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 45px;
}
.info_section .info_form h4 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.info_section .info_form form {
  display: flex;
  align-items: center;
}
.info_section .info_form form input {
  background-color: #ffffff;
  border: none;
  width: calc(100% - 139px);
  outline: none;
  color: #000000;
  height: 42.4px;
  padding-left: 15px;
}
.info_section .info_form form input ::placeholder {
  color: #ffffff;
  opacity: 0.2;
}
.info_section .info_form form button {
  background-color: #ae252b;
  display: inline-block;
  padding: 9px 30px;
  background-color: #ae252b;
  border: 1px solid #ae252b;
  color: #000000;
  font-size: 15px;
  text-transform: uppercase;
}
.info_section .info_form form button:hover {
  background-color: transparent;
  color: #ae252b;
}
.info_section h6 {
  margin-bottom: 12px;
  font-size: 18px;
}
.info_section p {
  color: #cbc9c9;
}
.info_section ul {
  padding: 0;
}
.info_section ul li {
  list-style-type: none;
  margin: 3px 0;
}
.info_section ul li a {
  color: #cbc9c9;
}
.info_section ul li a:hover {
  color: #ffffff;
}
.info_section .info_link-box a {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.info_section .info_link-box a:hover {
  color: #ffffff;
}
.info_section .info_link-box a img {
  margin-right: 15px;
}
.info_section .info_link-box a span {
  color: #cbc9c9;
}
.info_section .info_link-box a:hover span {
  color: #ffffff;
}
.info_section .info_social {
  display: flex;
  margin: 45px auto 15px auto;
}
.info_section .info_social img {
  width: 35px;
  margin-right: 8px;
}

/* end info section */
/* footer section*/
.footer_section {
  background-color: #161616;
  padding: 20px 0;
}

.footer_section p {
  margin: 0;
  text-align: center;
  color: #ffffff;
}

.footer_section a {
  color: #ffffff;
}

/* end footer section*/

/*# sourceMappingURL=style.css.map */
